<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table  class="table table-striped" >
                <thead>
                    @if (films.length!=0)
                    {
                    <tr>
                        <th>N°</th>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Genre</th>
                        <th>Date de Sortie</th> 
                        <th>IMDb</th> 
                    </tr>
                    }
                </thead>
                @for (movie of films; track movie.nom) 
                {
                    <tbody> 
                        <tr> 
                            <td>{{$index+1}}</td>
                            <td>{{movie.id}}</td> 
                            <td>{{movie.nom}}</td> 
                            <td>{{movie.genre.nomgen}}</td>
                            <td>{{movie.datesortie | date:'dd/MM/yyyy'}}</td>   
                            <td>{{movie.rating}}</td>  
                            <td><a class="btn btn-danger" (click)="supprimerFilm(movie)">Supprimer</a></td>  
                            <td><a class="btn btn-success" [routerLink]="['/update-film',movie.id]">Modifier</a></td> 
                        </tr> 
                    </tbody> 
                } 

                @empty
                {
                    <h1>salle vide...popcorns ennuient!</h1>
                }

            </table>
        </div>
    </div>
</div>